################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/API/API/obj
/.vs
/API/.vs/API/v16
