################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/API/obj
/.vs
/.idea
/API/bin/Debug
/API/.vs/API/v16
/packages
